pandas==2.2.2
numpy==2.0.2
matplotlib==3.7.1        
seaborn==0.13.2
scipy==1.11.1           
streamlit==1.47.0
scipy==1.16.1
imbalanced-learn==0.14.0
scikit-learn==1.6.1
joblib==1.5.1
squarify==0.4.4
